<div class="page-wrapper">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link nav-tab" href="#" data-tabp-index="1"><span>Import Cold Wallet</span></a>
            <a class="nav-link nav-tab" href="#" data-tabp-index="2"><span>Export Cold Wallet</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>