<div class="page-wrapper">
  <div class="container">
    <button class="btn btn-outline-success" id="btnExportColdWallet">Export Cold Wallet</button>
    <button class="btn btn-outline-success" id="btnImportColdWallet">Import Cold Wallet</button>
  </div>
</div>