<div class="page-wrapper">
  <div class="createPassword container">
    <br />
    <div>
      <span class="formLabel">
        <%= __('password.password') %>
      </span> <input type="password" class="formInput" id="inputCreatePassword" autocomplete="off">
    </div>
    <div>
      <span class="formLabel">
        <%= __('password.confirm') %>
      </span> <input type="password" class="formInput" id="inputCreatePassword2" autocomplete="off">
    </div>
    <div class="alert alert-danger visually-hidden" id="confirmSamePassword" role="alert">
      <%= __('password.confirm_same') %>
    </div>
    <div>
      <button class="btn btn-outline-success actionButton" id="createPasswordButton">
        <%= __('password.add_button') %>
      </button>
    </div>
  </div>
</div>