<div class="page-wrapper">
  <div class="createPassword container">
    <br />
    <div>
      <span class="formLabel">Your Password:</span> <input type="password" class="formInput" id="inputCreatePassword"
        autocomplete="off">
    </div>
    <div>
      <span class="formLabel">Confrim Password:</span> <input type="password" class="formInput"
        id="inputCreatePassword2" autocomplete="off">
    </div>
    <div>
      <button class="btn btn-outline-success actionButton" id="createPasswordButton">Use this password for secure
        operations</button>
    </div>
  </div>
</div>