<div class="page-wrapper">
  <div class="container">
    <% if (result.status === 'success' ) { %>
      <p>
        <%= __('allowharvester.success') %>
      </p>
      <% } else { %>
        <p>
          <%= result.status %>
        </p>
        <% } %>
  </div>
</div>