<div class="language-wrapper">
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle lang-button" data-bs-toggle="dropdown" aria-expanded="false">
      English
    </button>
    <ul class="dropdown-menu" id="lang-picker" class="lang-picker hidden">
      <li>
        <a class="dropdown-item" href="#" data-lang="en" title="English">English</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="ar" title="Arabic">العربية</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="bg" title="Bulgarian">Bulgarian</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="ca" title="Catalan">Catalan</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="de" title="German">Deutsch</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="es" title="Spanish">Español</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="fa" title="Persian">زبان فارسی</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="fr" title="French">Français</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="gl" title="Galician">Galego</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="id" title="Indonesian">Indonesian</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="it" title="Italian">Italiano</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="ja" title="Japanese">日本語</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="ko" title="Korean">한국어</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="pt" title="Portuguese, Brazilian">Português do Brasil</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="ro" title="Romanian">limba română</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="ru" title="Russian">Русский</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="sr" title="Serbian">Serbian</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="th" title="Thai">Thai</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="tl" title="Tagalog (Filipino)">Tagalog (Filipino)</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="tr" title="Turkish">Türkçe</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="uk" title="Ukrainian">Українська</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="vi" title="Vietnamese">Vietnamese</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="zh-CN" title="Simplified Chinese">简体中文</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" data-lang="zh-TW" title="Traditional Chinese">繁體中文</a>
      </li>
    </ul>
  </div>
</div>