<div class="leftbar-wrapper">
    <ul>
        <li><a href="#" class="link-primary">Review</a></li>
        <li><a href="#" class="link-primary">News</a></li>
        <li><a href="#" class="link-primary">Blockchains</a></li>
        <li><a href="#" class="link-primary">Connections</a></li>
        <li><a href="#" class="link-primary">Hands</a></li>
        <li><a href="#" class="link-primary">Wallets</a></li>
        <li><a href="#" class="link-primary">Plots</a></li>
        <li><a href="#" class="link-primary">Keys</a></li>
        <li><a href="#" class="link-primary">Pools</a></li>
        <li><a href="#" class="link-primary">Settings</a></li>
    </ul>
</div>