<div class="leftbar-wrapper">
    <ul>
        <li><a href="/reviewWeb" class="link-primary"><span class="icon-leaf"></span> <span class="link-text">Review</span></a></li>
        <li><a href="/receivedCoinsWeb" class="link-primary"><span class="icon-coin-dollar"></span> <span class="link-text">Received Coins</span></a></li>
        <li><a href="/newsWeb" class="link-primary"><span class="icon-notification"></span> <span class="link-text">New Warnings</span></a></li>
        <li><a href="/dailyReportWeb" class="link-primary"><span class="icon-brightness-contrast"></span> <span class="link-text">Daily Report</span></a></li>
        <li><a href="#" class="link-primary"><span class="icon-calendar"></span> <span class="link-text">Weekly Report</span></a></li>
        <li><a href="/blockchainsWeb" class="link-primary"><span class="icon-link"></span> <span class="link-text">Blockchains</span></a></li>
        <li><a href="/connectionsWeb" class="link-primary"><span class="icon-sphere"></span> <span class="link-text">Connections</span></a></li>
        <li><a href="/walletsWeb" class="link-primary"><span class="icon-coin-dollar"></span> <span class="link-text">Wallets</span></a></li>
        <li><a href="#" class="link-primary"><span class="icon-database"></span> <span class="link-text">Plots</span></a></li>
        <li><a href="/keysWeb" class="link-primary"><span class="icon-key2"></span> <span class="link-text">Keys</span></a></li>
        <li><a href="#" class="link-primary"><span class="icon-spinner10"></span> <span class="link-text">Pools</span></a></li>
        <li><a href="/handsWeb" class="link-primary"><span class="icon-point-up"></span> <span class="link-text">Hands</span></a></li>
        <li><a href="#" class="link-primary"><span class="icon-wrench"></span> <span class="link-text">Settings</span></a></li>
    </ul>
</div>