<div class="page-wrapper">
  <div class="resetPassword container">
    <br />
    <div>
      <span class="formLabel">
        <%= __('password.old') %>
      </span> <input type="password" class="formInput" id="inputOldPassword" autocomplete="off">
    </div>
    <div>
      <span class="formLabel">
        <%= __('password.new') %>
      </span> <input type="password" class="formInput" id="inputResetPassword" autocomplete="off">
    </div>
    <div>
      <span class="formLabel">
        <%= __('password.confirm') %>
      </span> <input type="password" class="formInput" id="inputResetPassword2" autocomplete="off">
    </div>
    <div>
      <button class="btn btn-outline-success actionButton" id="resetPasswordButton">
        <%= __('password.reset_button') %>
      </button>
    </div>
  </div>
</div>