<div class="page-wrapper">
  <div class="resetPassword container">
    <br />
    <div>
      <span class="formLabel">Old Password:</span> <input type="password" class="formInput" id="inputOldPassword"
        autocomplete="off">
    </div>
    <div>
      <span class="formLabel">New Password:</span> <input type="password" class="formInput" id="inputResetPassword"
        autocomplete="off">
    </div>
    <div>
      <span class="formLabel">Confrim Password:</span> <input type="password" class="formInput" id="inputResetPassword2"
        autocomplete="off">
    </div>
    <div>
      <button class="btn btn-outline-success actionButton" id="resetPasswordButton">Use this password for future secure
        operations</button>
    </div>
  </div>
</div>