html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #2c7873;
}
.language-wrapper {
  position: absolute;
  right: 5px;
  top: -10px;
}
.language-wrapper #lang-picker li {
  font-size: 0.8rem;
}
.tooltip > .tooltip-inner {
  background-color: #2c7873;
  opacity: 1;
  text-align: left;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #2c7873;
}
.nav-tabs a.nav-link {
  color: #2c7873;
}
.nav-tabs a.nav-link.active {
  background: #6fb98f;
  border-radius: 30px;
}
.nav-tabs a.nav-link.SyncError {
  color: #9f5c5c;
}
.nav-tabs a.nav-link span:nth-child(2) {
  opacity: 0.5;
  font-size: xx-small;
  color: #021c1e;
}
.block-wrapper {
  margin-top: 20px;
  min-height: 600px;
}
.leftbar-wrapper {
  min-height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right bottom, #f6f6f6 0%, #bbe1da 100%) 100% center no-repeat;
}
.leftbar-wrapper ul {
  padding-left: 0.6rem;
}
.leftbar-wrapper ul li {
  list-style: none;
  line-height: 35px;
}
.leftbar-wrapper ul li a.link-primary {
  color: #2c7873;
}
.content-wrapper {
  min-height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right bottom, #f6f6f6 0%, #bbe1da 100%) 100% center no-repeat;
}
.review-column {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #2c7873;
  padding: 5px;
  height: 100%;
  box-shadow: 6px 5px 5px #2c7873;
}
.review-column.NotFarming {
  background: #e9debe;
}
.review-column div:first-child {
  margin-bottom: 5px;
  font-weight: bold;
}
.review-column div:first-child span:nth-child(2) {
  opacity: 0.5;
  font-size: xx-small;
  font-weight: normal;
  color: #021c1e;
}
.review-column .total-coins span:nth-child(2) {
  font-weight: bold;
  color: #2c7873;
}
.review-column .total-coins span:nth-child(3) {
  color: #2c7873;
}
.review-column .plot-count span:nth-child(2) {
  color: #9696bf;
}
.review-column .plot-count span:nth-child(3) {
  display: none;
  opacity: 0.5;
  font-size: x-small;
}
.tab-panel {
  padding: 20px;
}
.tab-panel div:nth-child(2) {
  margin-bottom: 5px;
}
#textareaImportColdWallet {
  width: 100%;
  height: 260px;
}
.formLabel {
  display: inline-block;
  min-width: 140px;
}
.formInput {
  width: 65%;
}
.actionButton {
  margin-top: 10px;
}
.transferMoney .formLabel {
  color: #9f5c5c;
}
@media (max-width: 1024px) {
  .leftbar-wrapper ul li {
    font-size: larger;
    font-size: x-large;
    line-height: 45px;
  }
  .leftbar-wrapper ul li.setting,
  .leftbar-wrapper ul li.setting-li {
    display: none;
  }
  .leftbar-wrapper .link-text {
    display: none;
  }
  #reviewPage .desktop-review {
    display: none;
  }
  #reviewPage .mobile-review {
    display: block;
  }
}
@media (min-width: 1025px) {
  #reviewPage .desktop-review {
    display: block;
  }
  #reviewPage .desktop-review .table-warning td {
    background-color: #fff3cd;
  }
  #reviewPage .content-wrapper {
    width: max-content;
  }
  #reviewPage .mobile-review {
    display: none;
  }
}
