@blankBlue: #021c1e;
@darkBlue : #004445;
@lightBlue: #2c7873;
@green    : #6fb98f;

@blue   : #9696bf;
@warning: #e9debe;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: @lightBlue;
}

.nav-tabs {
  a.nav-link {
    color: @lightBlue;

    &.active {
      background   : @green;
      border-radius: 30px;
    }
  }
}

.header-wrapper {
  // position: fixed;
  // width: 200px;
  // height: 100%;
}

.block-wrapper {
  margin-top: 20px;
  min-height: 600px;
}

.leftbar-wrapper {
  min-height   : 100%;
  border-radius: 5px;
  background   : linear-gradient(to right bottom, #f6f6f6 0%, #6cada2 100%, #40726a 100%) 100% center no-repeat;

  ul {
    padding-left: 0.6rem;

    li {
      list-style : none;
      line-height: 35px;

      a.link-primary {
        color: @lightBlue;
      }
    }

  }
}

.content-wrapper {
  min-height   : 100%;
  border-radius: 5px;
  // background: linear-gradient(to right bottom, #6cada2 80%, #40726a 100%) 100% center no-repeat;
  background   : linear-gradient(to right bottom, #f6f6f6 0%, #6cada2 100%, #40726a 100%) 100% center no-repeat;
}

.review-column {
  margin-top   : 10px;
  border-radius: 5px;
  border       : 1px solid @lightBlue;
  padding      : 5px;
  height       : 100%;
  box-shadow   : 6px 5px 5px @lightBlue;

  &.NotFarming {
    background: @warning;
  }

  div:first-child {
    margin-bottom: 5px;
    font-weight  : bold;
  }

  .total-coins {
    span:nth-child(2) {
      font-weight: bold;
      color      : @lightBlue;
    }
  }

  .plot-count {
    span:nth-child(2) {
      font-weight: bold;
      color      : @blue;
    }

    span:nth-child(3) {
      opacity: 0.5;
      font-size: x-small;
    }
  }
}

.tab-panel {
  padding: 20px;

  div:nth-child(2) {
    margin-bottom: 5px;
  }
}


@media (max-width: 1024px) {
  .leftbar-wrapper {
    ul li {
      font-size  : larger;
      font-size  : x-large;
      line-height: 45px;
    }

    .link-text {
      display: none;
    }
  }
}