html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #2c7873;
}
.nav-tabs a.nav-link {
  color: #2c7873;
}
.nav-tabs a.nav-link.active {
  background: #6fb98f;
  border-radius: 30px;
}
.block-wrapper {
  margin-top: 20px;
  min-height: 600px;
}
.leftbar-wrapper {
  min-height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right bottom, #f6f6f6 0%, #6cada2 100%, #40726a 100%) 100% center no-repeat;
}
.leftbar-wrapper ul {
  padding-left: 0.6rem;
}
.leftbar-wrapper ul li {
  list-style: none;
  line-height: 35px;
}
.leftbar-wrapper ul li a.link-primary {
  color: #2c7873;
}
.content-wrapper {
  min-height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right bottom, #f6f6f6 0%, #6cada2 100%, #40726a 100%) 100% center no-repeat;
}
.review-column {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #2c7873;
  padding: 5px;
  height: 100%;
  box-shadow: 6px 5px 5px #2c7873;
}
.review-column.NotFarming {
  background: #e9debe;
}
.review-column div:first-child {
  margin-bottom: 5px;
  font-weight: bold;
}
.tab-panel {
  padding: 20px;
}
.tab-panel div:nth-child(2) {
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  .leftbar-wrapper ul li {
    font-size: larger;
  }
  .leftbar-wrapper .link-text {
    display: none;
  }
}
